.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #e47500 -5.66%, #df7c14 115.63%);
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrapper {
  width: 57px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-wrapper {
  border: none;
  background-color: transparent;
}

.header__list {
  display: none;
  align-items: center;
  gap: 30px;
}

.header__link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link-contact {
  color: #dc7000;
  padding: 10px 28px;
  border-radius: 6px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }

  .header__menu-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .header__logo-wrapper {
    width: 71px;
  }

  .header__list {
    gap: 70px;
  }
}
